<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}

</head>

<body>
  <a href="/">Volunteer now</a><br>
  <p id="time-date"></p>
  
  <hr>
    <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}
  
  {% block content %}
  {% endblock %}
  <script>
    document.getElementById("time-date").innerHTML = Date();
  </script>
</body>
</html>