{% extends 'base.html' %}
{% block head %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIX97LpSGWoozB3nKv8NrSXwMpdHVzIXs"></script>
  {% endblock %}

{% block content %}

<h1></h1>

<h2></h2>
<p><a href="/places">View all volunteer places</a></p>
<p><a href="/opportunities">View all volunteer opportunities</a></p>
<p><a href="/search">Search</a></p>
<button id="filter">Filter</button>


<div id="map" style="height: 400px;""></div>
    
    <script>
    
      var x = document.getElementById("map");
      var map;
      var googleMarkers = []; 

      function initMap() {
        console.log('get position');
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            // console.log('PING')
            console.log(position.coords.latitude);
            console.log(position.coords.longitude);

            var mapOptions = {
              zoom: 15,
              center: {lat: position.coords.latitude, lng: position.coords.longitude}
            };
            // debugger;
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            
            var marker = new google.maps.Marker({
              position: {lat: position.coords.latitude, lng: position.coords.longitude}, 
              map: map,
              title: "You're here!",
              icon: 'http://maps.google.com/mapfiles/ms/micons/green.png'
            });
          })
        }
        
        else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      };

      function putMarkers(opps){
            
        // opps = {"27713": "37.72766,-122.43056"};
        for (var opp in opps) {
          var oppLat = parseFloat(opps[opp].split(',')[0]);
          var oppLng = parseFloat(opps[opp].split(',')[1]);
          var oppTitle = opps[opp].split(',')[5];
          var oppUrl = "/opportunities/"+opp;
          // console.log(oppUrl);
          var marker = new google.maps.Marker({
            position: {lat: oppLat, lng: oppLng},
            map: map,
            title: oppTitle,
            url: oppUrl
          });
          googleMarkers.push(marker);
          google.maps.event.addListener(marker, 'click', function() {window.location.href = this.url;});
        }
      }

      // function removeMarkers(){
      //   for(i=0; i<googleMarkers.length; i++){
      //     googleMarkers[i].setMap(null);
      //   }
      // }


      function getAllOpps(){
        $.get('/format-data', putMarkers);
      }

      function getFilteredOpps(){
        // console.log("in getFilteredOpps");
        // removeMarkers();
        $.get('/filter-data', putMarkers);
      }

      $("#filter").on("click", getFilteredOpps);
    
      getAllOpps();
      initMap();


    </script>

{% endblock %}