{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block content %}

<h1></h1>

<h2></h2>
<p><a href="/places">View all volunteer places</a></p>
<p><a href="/opportunities">View all volunteer opportunities</a></p>
<p><a href="/test">Test</a></p>

<div id="map" style="height: 400px;"></div>
<p id="loc"></p>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIX97LpSGWoozB3nKv8NrSXwMpdHVzIXs"></script>

<script>
var x = document.getElementById("map");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(createMap);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
document.getElementById("loc").innerHTML = Date();
// function showPosition(position) {
//     x.innerHTML = "Latitude: " + position.coords.latitude + 
//     "<br>Longitude: " + position.coords.longitude;
// }

var map;

function createMap(position) {

    console.log(position);

    var mapOptions = {
      zoom: 16,
      center: {lat: position.coords.latitude, lng: position.coords.longitude}
    };

    map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var marker = new google.maps.Marker({position: {lat: position.coords.latitude, lng: position.coords.longitude}, 
        map: map});

    var infowindow = new google.maps.InfoWindow({content: '<p>Marker Location:' + marker.getPosition() + '</p>'});

    google.maps.event.addListener(marker, 'click', function() {infowindow.open(map, marker); });

}

getLocation();

</script>

{% endblock %}