{% extends 'base.html' %}Place details{% block title %}
{% block head %}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIX97LpSGWoozB3nKv8NrSXwMpdHVzIXs"></script>
    <script>
      // In this example, we center the map, and add a marker, using a LatLng object
      // literal instead of a google.maps.LatLng object. LatLng object literals are
      // a convenient way to add a LatLng coordinate and, in most cases, can be used
      // in place of a google.maps.LatLng object.

      var map;
      function initialize() {
        var mapOptions = {
          zoom: 16,
          center: {lat: {{location.lat}}, lng: {{location.lng}}}
        };
        map = new google.maps.Map(document.getElementById('map'),
            mapOptions);

        var marker = new google.maps.Marker({
          // The below line is equivalent to writing:
          // position: new google.maps.LatLng(-34.397, 150.644)
          position: {lat: {{location.lat}}, lng: {{location.lng}}},
          map: map
        });

        // You can use a LatLng literal in place of a google.maps.LatLng object when
        // creating the Marker object. Once the Marker object is instantiated, its
        // position will be available as a google.maps.LatLng object. In this case,
        // we retrieve the marker's position using the
        // google.maps.LatLng.getPosition() method.
        var infowindow = new google.maps.InfoWindow({
          content: '<p>Marker Location:' + marker.getPosition() + '</p>'
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map, marker);
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% endblock %}
{% block content %}

    <h2>Help with {{opp.host_place.name}}</h2>
        <p>Title: {{ opp.title }}</p>
        <p>Time: {{ opp.opp_time}}</p>
        <p>Description: {{ opp.descr }}</p>
        <p>Address: {{ location.st_add1 }}, {{ location.st_add2 }}, {{ location.city }} {{ location.zip_code }}</p>
        <!-- <img src="{{ opp.img_url }}" alt="here could be an image"> -->
    <div id="map" style="width:400px; height:400px;">Map:</div>

    {% if "logged_in_user_id" in session %}
        <form id="comment_form">
            Your Comment: <input id = "comment" type="number" name="score">
            <button type="submit">Save!</button>
        </form><br>    
    {% endif %}    


    <script src="http://code.jquery.com/jquery.js"></script>
    <script>
    
    </script>
{% endblock %}