{% extends 'base.html' %}
{% block content %}
    <form class="search-form" id="search-form">
      What are looking for?<br>
      <input type="text" id="searchquery">
      <input type="button" id="searchbutton" value="Search"></input>
    </form>
    <div id="searchresults"></div>


<script src="http://code.jquery.com/jquery.js"></script>
<script>


function displayResults(data){

    // console.log("In displayResults");
//     // console.log(event);
    
//     // console.log('PONG')

    var searchResult = document.getElementById("searchresults");
    // console.log(data);
    console.log("in displayResults");
    for (var opp in data){
        // console.log(data[]);
           
            searchResult.innerHTML = searchResult.innerHTML + data[opp];
    }
// }

// // function getSearchResults(){
// //     // console.log("in callback");
// //     var query = $('#query').val();
// //     $.get('/get-results', {"query": query}, displayResults);
}

function getSearchResults(event){
    event.preventDefault();
    console.log("in getSearchResults");
    var searchquery = $('#searchquery').value;
    console.log(searchquery);
    $.get("/get-results", {searchquery: searchquery}, displayResults);
}

// // $( "a" ).click(function( event ) {
// //   event.preventDefault();
// //   $( "<div>" )
// //     .append( "default " + event.type + " prevented" )
// //     .appendTo( "#log" );
// // });

$("#searchbutton").on("click", getSearchResults);

</script>

{% endblock %}

